@font-face{
  font-family: "Futura Bk";
  src: url("../fonts/FuturaBkBT.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
html {
  background: #E5E5E5;
  box-sizing: border-box;
}
body {
  position: relative;
  width: 1440px;
  height: 6828px;
  margin: 0 auto;

  background: #FFFFFF;
}
button {
  width: 163px;
  height: 48px;
  border: none;
  border-radius: 50px;
  background: #EEE;

  font-family: Montserrat,sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: #000;
}

header {
  .header__title {
    position: absolute;
    top: 13px;
    right: 40px;

    text-decoration: none;

    font-family: Futura Bk,sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
  }
  .header__menu {
    display: flex;
    position: relative;
    top: 47px;
    width: 1440px;
    height: 65px;

    background: #F6F6F6;

    img {
      position: absolute;
      top: 15px;
      left: 114px;
      width: 82px;
      height: 34px;
    }

    nav {
      display: flex;
      column-gap: 30px;
      position: absolute;
      top: 23px;
      left: 510px;
      width: 460px;
      height: 20px;

      a {
        font-family: Montserrat,sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;

        color: #000000;
      }
    }
    div {
      display: flex;
      column-gap: 25px;
      width: 77px;
      position: absolute;
      top: 20px;
      right: 185px;
      a {
        font-size: 27px;
        color: black;
      }
    }
  }
}
main {
  .main__register {
    position: absolute;
    top: 142px;
    left: 575px;

    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
    a {
      color: #000000;
    }
  }
  .main__section__first {
    position: absolute;
    top: 196px;
    left: 93px;
    img {
      width: 1254px;
      height: 524px;
    }
    h2 {
      position: absolute;
      top: 74px;
      left: 46px;
      width: 414px;
      height: 129px;

      font-family: Montserrat,sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      line-height: 43px;

      color: #FFFFFF;
    }
    div {
      position: absolute;
      bottom: 33px;
      left: 54px;
      display: flex;
      flex-direction: row;
      column-gap: 33px;

      a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        p {
          margin-right: 10px;

          font-family: Montserrat,sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 17px;
          line-height: 21px;

          color: #FFFFFF;
        }
        ion-icon {
          font-size: 21px;
          color: #FFF;
        }
      }
    }
  }
  .main__section__second {
    position: absolute;
    top: 763px;
    left: 549px;
    height: 150px;
    width: 342px;
    text-align: center;
    h2 {
      margin-bottom: 9px;

      font-family: Futura PT,sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 34px;
      line-height: 44px;

      letter-spacing: 0.01em;

      color: #000000;
    }
    p {
      margin-bottom: 27px;

      font-family: Montserrat,sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;

      text-align: center;

      color: #000000;
    }
    button:last-child {
      margin-left: 12px;
      background: #000;
      color: #fff;
    }
  }
  .main__section__third {
    overflow: hidden;
    position: absolute;
    top: 1057px;
    height: 590px;
    width: 1350px;
    padding-left: 90px;

    img {
      width: 454px;
      height: 454px;
    }

    .section__top {
      display: flex;

      h2 {
        font-family: Montserrat,sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;

        color: #000000;
      }

      div {
        width: 78px;
        height: 26px;
        position: absolute;
        top: 4px;
        right: 55px;
        a {
          margin-left: 10px;
          font-size: 26px;
        }
      }
    }

    .section__main {
      display: flex;
      flex-direction: row;
      column-gap: 60px;
      position: absolute;
      top: 65px;
      width: 1350px;
      height: 524px;
      text-decoration: none;


      a {
        position: relative;
        width: 454px;
        height: 524px;
        text-decoration: none;

        .section__nike {
          width: 454px;
          height: 454px;
          background: #F6F6F6;

          img {
            position: absolute;
            top: 30px;
            left: -50px;
          }
        }

        p {
          position: absolute;
          bottom: 0;
          left: 0;
          font-family: Montserrat,sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;

          color: #949494;
        }
        .section__center {
          display: flex;
          position: relative;
          flex-direction: row;
          margin-top: 20px;
          width: 454px;

          h3 {
            font-family: Montserrat,sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.01em;

            color: #000000;
          }

          div {
            display: flex;
            position: absolute;
            right: 0;

            ion-icon {
              margin-left: 5px;
              font-size: 20px;
            }
          }
        }
      }

      .section__last {
        img {
          width: 322px;
        }
      }
    }
  }
  .main__section__forth, .main__section__seventh, .main__section__ninth {
    overflow: hidden;
    position: absolute;
    top: 1719px;
    height: 610px;
    width: 1350px;
    padding-left: 90px;

    .section__top {
      display: flex;

      h2 {
        font-family: Montserrat,sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;

        color: #000000;
      }

      div {
        width: 78px;
        height: 26px;
        position: absolute;
        top: 4px;
        right: 55px;
        a {
          margin-left: 10px;
          font-size: 26px;
        }
      }
    }

    .section__main {
      display: flex;
      flex-direction: row;
      column-gap: 60px;
      position: absolute;
      top: 65px;
      width: 1350px;
      height: 539px;
      text-decoration: none;

      a {
        position: relative;
        width: 839px;
        height: 539px;
        text-decoration: none;

        img {
          width: 839px;
          height: 454px;
        }

        p {
          position: absolute;
          bottom: 0;
          left: 0;
          font-family: Montserrat,sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;

          color: #949494;
        }
        .center {
          display: flex;
          position: relative;
          flex-direction: row;
          margin-top: 20px;
          width: 839px;

          h3 {
            font-family: Montserrat,sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.01em;

            color: #000000;
          }

          div {
            display: flex;
            position: absolute;
            right: 0;

            ion-icon {
              margin-left: 5px;
              font-size: 20px;
            }
          }
        }
      }
      .last {
        img {
          width: 452px;
        }
      }
    }
  }
  .main__section__fifth {
    position: absolute;
    top: 2466px;
    height: 849px;
    width: 1350px;
    padding-left: 90px;

    .section__top {
      display: flex;

      h2 {
        font-family: Montserrat,sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;

        color: #000000;
      }

      div {
        width: 78px;
        height: 26px;
        position: absolute;
        top: 4px;
        right: 55px;
        a {
          margin-left: 10px;
          font-size: 26px;
        }
      }
    }

    .section__main {
      position: absolute;
      top: 65px;
      width: 1551px;
      height: 782px;
      text-decoration: none;

      img {
        width: 1350px;
        height: 782px;
      }

      h3 {
        position: absolute;
        top: 604px;
        left: 55px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        z-index: 2;

        color: #FFFFFF;
      }
      button {
        position: absolute;
        top: 656px;
        left: 52px;
        z-index: 2;

        background: #000;
        color: #FFF;
      }
    }
  }
  .main__section__sixth {
    overflow: hidden;
    position: absolute;
    top: 3453px;
    height: 590px;
    width: 1350px;
    padding-left: 90px;

    img {
      width: 454px;
      height: 454px;
    }

    .section__top {
      display: flex;

      h2 {
        font-family: Montserrat,sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;

        color: #000000;
      }

      div {
        width: 78px;
        height: 26px;
        position: absolute;
        top: 4px;
        right: 55px;
        a {
          margin-left: 10px;
          font-size: 26px;
        }
      }
    }

    .section__main {
      display: flex;
      flex-direction: row;
      column-gap: 60px;
      position: absolute;
      top: 65px;
      width: 1350px;
      height: 524px;
      text-decoration: none;


      a {
        position: relative;
        width: 454px;
        height: 524px;
        text-decoration: none;

        #nike {
          width: 454px;
          height: 454px;
          background: #F6F6F6;

          img {
            position: absolute;
            top: 30px;
            left: -50px;
          }
        }

        p {
          position: absolute;
          bottom: 0;
          left: 0;
          font-family: Montserrat,sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;

          color: #949494;
        }
        .center {
          display: flex;
          position: relative;
          flex-direction: row;
          margin-top: 20px;
          width: 454px;

          h3 {
            font-family: Montserrat,sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.01em;

            color: #000000;
          }

          div {
            display: flex;
            position: absolute;
            right: 0;

            ion-icon {
              margin-left: 5px;
              font-size: 20px;
            }
          }
        }
      }

      .last {
        img {
          width: 323px;
        }
      }
    }
  }
  .main__section__seventh {
    top: 4182px;
    height: 740px;

    .section__main {
      height: 669px;
      a {
        position: relative;
        width: 864px;
        height: 669px;

        img {
          width: 864px;
          height: 584px;
        }
      }
      .last {
        img {
          width: 427px;
        }
      }
    }
  }
  .main__section__eighth {
    position: absolute;
    top: 5064px;
    width: 1440px;
    height: 430px;

    img {
      width: 1440px;
      height: 430px;
    }
    h2 {
      position: absolute;
      top: 69px;
      left: 771px;

      font-family: Montserrat,sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 45px;
      line-height: 55px;

      color: #FFFFFF;
    }
    p {
      position: absolute;
      top: 146px;
      left: 771px;

      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;

      color: #FFFFFF;
    }
    button {
      position: absolute;
      top: 240px;
      left: 800px;
    }
  }
  .main__section__ninth {
    top: 5632px;
    height: 668px;

    .section__main {
      height: 668px;
      a {
        position: relative;
        width: 864px;
        height: 668px;

        img {
          width: 596px;
          height: 601px;
        }

        button {
          position: absolute;
          top: 525px;
          left: 26px;
          background: #FFF;
        }
      }
      .last {
        img {
          width: 39px;
        }
      }
    }
  }
}
footer {
  position: absolute;
  bottom: 0;
  width: 1440px;
  height: 425px;

  background: #F6F6F6;

  .footer__section__top {
    display: flex;
    position: absolute;
    top: 0;
    width: 1440px;
    height: 410px;

    div:first-child, div:nth-child(2) {
      display: flex;
      flex-direction: column;
      margin-top: 74px;
      margin-left: 93px;
      height: 180px;
      width: 180px;

      h2 {
        font-family: Montserrat,sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;

        color: #000;
      }
      a {
        margin-top: 18px;

        font-family: Montserrat,sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        line-height: 23px;

        text-decoration: none;

        color: #858585;
      }
      a:nth-child(2) {
        margin-top: 40px;
      }
    }
    div:nth-child(2) {
      margin-left: 101px;
    }
    div:last-child{
      position: absolute;
      top: 61px;
      right: 67px;
      width: 50px;
      height: 200px;

      a {
        ion-icon {
          font-size: 50px;
          color: #ACACAC;;
          margin-bottom: 20px;
          border-radius: 50%;
          background: #DBDBDB;
        }
      }
    }
  }
  .footer__section__bottom {
    display: flex;
    position: absolute;
    left: 66px;
    bottom: 0;
    width: 1308px;
    height: 85px;

    border-top: 1px solid #C4C4C4;

    p {
      margin-top: 33px;
      margin-left: 27px;

      font-family: Montserrat,sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;

      color: #858585;
    }
    div {
      display: flex;
      position: absolute;
      right: 0;
      width: 600px;
      height: 85px;

      a {
        margin-top: 33px;
        margin-right: 46px;

        text-decoration: none;
        font-family: Montserrat,sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.01em;

        color: #858585;
      }
    }
  }
}